@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */

/* body{
  font-family: 'Roboto Condensed', sans-serif;
} */


.logo.active{
  transform: rotate(180deg);
  transition: var(--speed) ease;
}

.logo.inactive{
  transform: rotate(0deg);
  transition: var(--speed) ease;
}

@layer base {
  body {
    @apply font-primary;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-[#e52320];
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-[#e52320] ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
}