.bg{
    background-image: url('../public/assets/banner_logo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    background-position: center;
    padding-top: 4rem;
}