.image-slider {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .imageSlideeee{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1px 2px;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 4px;
  }
  
  .next-button {
    right: 4px;
  }
  

  .image-gallery {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    height: 500px;
  }
  
  .image-gallery img {
    object-fit: contain;
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    display: block;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0; /* Prevents the image from shrinking */
    flex-grow: 0;
  }
  